{% extends 'base.html.twig' %}

{% block title %}Cour de {{cour[0]["titre"]}}{% endblock %}

{% block body %}
  <div class="cour_container">
    <span>{{cour[0]["titre"]}}</span>
    <span>{{cour[0]["specialite"]}}</span>
    <span>{{cour[0]["matiere"]}}</span>
    <span>{{cour[0]["lvl"]}}</span>
    <span>{{cour[0]["auteur"]}}</span>
    <span>{{cour[0]["date"]}}</span>
  </div>
{% endblock %}
