{% extends 'base.html.twig' %}

{% block title %}Cour de {{cour[0]["titre"]}}{% endblock %}

{% block body %}
  <div class="cour_container">
    <span>{{cour[0]["titre"]}}</span>
    <span>{{cour[0]["specialite"]}}</span>
    <span>{{cour[0]["matiere"]}}</span>
    <span>{{cour[0]["lvl"]}}</span>
    <span>{{cour[0]["auteur"]}}</span>
    <span>{{cour[0]["date"]}}</span>
  </div>
  <br><br>
  <a href="visuel?num={{cour[0]["id_methode"]}}"><button value="Visuel">Visuel</button></a>
  <a href="auditif?num={{cour[0]["id_methode"]}}"><button value="auditif">auditif</button></a>
  <a href="kine?num={{cour[0]["id_methode"]}}"><button value="kine">kinesthesique</button></a>
{% endblock %}
